# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.venv/
venv/
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/
.npm/

# Data / models
*.csv
*.nc
*.pkl
*.joblib
*.db

# Logs
*.log
